pinecone-client
llama-index-embeddings-langchain
llama-index
langchain
sentence-transformers==2.2.2
voyageai
anthropic
uuid
langchain-pinecone
langchain-openai
langchain
unstructured[all-docs]
pydantic
lxml
poppler-utils
pillow
unstructured==0.12.5
browser-history
langchain-anthropic
pytesseract
tesseract-ocr
python-dotenv